name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:

env:
  GCC_VERSION: 12.2.0
  BINUTILS_VERSION: 2.39
  PREFIX: "/tmp/toolchain"

jobs:
  build:
    strategy:
      matrix:
        target_triple: [i686-elf, x86_64-elf]
      fail-fast: false
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install packages
        run: |
          sudo apt update
          sudo apt -y install mtools libgmp-dev libmpfr-dev libmpc-dev

      - name: Download Binutils
        run: |
          wget https://ftp.gnu.org/gnu/binutils/binutils-${BINUTILS_VERSION}.tar.gz
          tar -xvf binutils-${BINUTILS_VERSION}.tar.gz

      - name: Build ${{ matrix.target_triple }}-binutils
        run: |
          mkdir build-binutils
          cd build-binutils
          ../binutils-${BINUTILS_VERSION}/configure --target=${{ matrix.target_triple }} --prefix=${PREFIX} --with-sysroot --disable-nls --disable-werror
          make
          make install

      - name: Download GCC
        run: |
          wget https://ftp.gnu.org/gnu/gcc/gcc-${GCC_VERSION}/gcc-${GCC_VERSION}.tar.gz
          tar -xvf gcc-${GCC_VERSION}.tar.gz

      - name: Build ${{ matrix.target_triple }}-gcc
        run: |
          mkdir build-gcc
          cd build-gcc
          ../gcc-${GCC_VERSION}/configure --target=${{ matrix.target_triple }} --prefix=${PREFIX} --disable-nls --enable-languages=c,c++ --without-headers
          make all-gcc
          make all-target-libgcc
          make install-gcc
          make install-target-libgcc

      - name: Package
        run: |
          cd /tmp
          tar -czvf toolchain-${{ matrix.target_triple }}.tar.gz toolchain

      - name: Upload to release
        uses: svenstaro/upload-release-action@v2
        with:
          file: /tmp/toolchain-${{ matrix.target_triple }}.tar.gz
          tag: artifact
          overwrite: true
          file_glob: true
